%h1 Resources
%br
%div{ id: "resources" }
  - resources.each do |resource|
    %hr
    %div{ class: "resource" }
      %label ID
      %span= resource.id
      %label Name
      %a{ href: "/resource/#{resource.id}" }= resource.name
